<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-justdevoured="{{devoured}}">
		{{#if devoured}}Take A Bite, Friend.{{else}}Room for one more?{{/if}}
	</button>
		<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>

</li>
